$text: #2b031a;
$background: #fff6fc;
$primary: #87084e;
$secondary: #f5a15c;
$accent: #e6c60f;


$textDark: #fcd4eb;
$backgroundDark: #270218;
$primaryDark: #f778be;
$secondaryDark: #a34f0a;
$accentDark: #f0d019;

